In [1]:
import pandas as pd
import numpy as np

In [2]:
mov = pd.read_csv('movies_metadata.csv', low_memory = False)
mov.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [3]:
av = pd.read_csv('ratings.csv')
av.head(2)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

In [4]:
mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
av.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [6]:
mov.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [7]:
mov = mov.dropna()

In [8]:
mov.isna().sum()

adult                    0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
id                       0
imdb_id                  0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
video                    0
vote_average             0
vote_count               0
dtype: int64

In [9]:
av.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [10]:
av = av [['userId','movieId','rating']]
av.rename(columns = {'userId':'IDUSUARIO','movieId':'IDFILME','rating':'AVALIACAO'}, inplace = True)
av.head()

   IDUSUARIO  IDFILME  AVALIACAO
0          1      110        1.0
1          1      147        4.5
2          1      858        5.0
3          1     1221        5.0
4          1     1246        5.0

In [11]:
mov = mov [['id','original_title','original_language','vote_count']]
mov.rename(columns = {'id':'IDFILME','original_title':'TITULO','original_language':'IDIOMA','vote_count':'AVALIACOES'}, inplace = True)
mov.head()

    IDFILME                                   TITULO IDIOMA  AVALIACOES
9       710                                GoldenEye     en      1194.0
68    10634                                   Friday     en       513.0
69      755                      From Dusk Till Dawn     en      1644.0
153    5894                         Blue in the Face     en        28.0
178    9070  Mighty Morphin Power Rangers: The Movie     en       153.0

In [13]:
av['AVALIACAO'].value_counts()

AVALIACAO
4.0    6998802
3.0    5256722
5.0    3812499
3.5    3116213
4.5    2170441
2.0    1762440
2.5    1255358
1.0     843310
0.5     404897
1.5     403607
Name: count, dtype: int64

In [14]:
avaliacoes = av['IDUSUARIO'].value_counts() > 999
y = avaliacoes[avaliacoes].index
y.shape

(2509,)

In [15]:
av.shape

(26024289, 3)

In [16]:
mov.head(1)

  IDFILME     TITULO IDIOMA  AVALIACOES
9     710  GoldenEye     en      1194.0

In [19]:
mov = mov[mov['AVALIACOES'] > 999]
mov.value_counts()

IDFILME  TITULO                                              IDIOMA  AVALIACOES
10009    Brother Bear                                        en      1410.0        1
564      The Mummy                                           en      2796.0        1
561      Constantine                                         en      1837.0        1
559      Spider-Man 3                                        en      3687.0        1
558      Spider-Man 2                                        en      4432.0        1
                                                                                  ..
217      Indiana Jones and the Kingdom of the Crystal Skull  en      2558.0        1
216015   Fifty Shades of Grey                                en      3350.0        1
211672   Minions                                             en      4729.0        1
209112   Batman v Superman: Dawn of Justice                  en      7189.0        1
99861    Avengers: Age of Ultron                             en      6908.0        1
Name: count, Length: 297, dtype: int64

In [21]:
mov['IDIOMA'].value_counts()

IDIOMA
en    293
it      1
cn      1
sv      1
id      1
Name: count, dtype: int64

In [22]:
mov['IDFILME'] = mov['IDFILME'].astype(int)

C:\Users\sidal\AppData\Local\Temp\ipykernel_14932\3198174509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mov['IDFILME'] = mov['IDFILME'].astype(int)

In [23]:
mov.info()

<class 'pandas.core.frame.DataFrame'>
Index: 297 entries, 9 to 44842
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   IDFILME     297 non-null    int32
 1   TITULO      297 non-null    object
 2   IDIOMA      297 non-null    object
 3   AVALIACOES  297 non-null    float64
dtypes: float64(1), int32(1), object(2)
memory usage: 10.4+ KB

In [45]:
mov.shape

(1121, 4)

In [26]:
avmov = av.merge(mov, on='IDFILME')
avmov

,IDUSUARIO,IDFILME,AVALIACAO,TITULO,IDIOMA,AVALIACOES
0,2,58,3.0,Pirates of the Caribbean: Dead Man's Chest,en,5380.0
1,24,58,5.0,Pirates of the Caribbean: Dead Man's Chest,en,5380.0
2,47,58,4.0,Pirates of the Caribbean: Dead Man's Chest,en,5380.0
3,72,58,5.0,Pirates of the Caribbean: Dead Man's Chest,en,5380.0
4,119,58,4.0,Pirates of the Caribbean: Dead Man's Chest,en,5380.0
...,...,...,...,...,...,...
562811,218368,101299,4.0,The Hunger Games: Catching Fire,en,6656.0
562812,233471,101299,2.0,The Hunger Games: Catching Fire,en,6656.0
562813,219677,146216,1.0,RED 2,en,1548.0
562814,255814,146216,0.5,RED 2,en,1548.0
562815,221327,118340,4.0,Guardians of the Galaxy,en,10014.0

In [27]:
avmov.isna().sum()

IDUSUARIO     0
IDFILME       0
AVALIACAO     0
TITULO        0
IDIOMA        0
AVALIACOES    0
dtype: int64

In [28]:
avmov.shape

(562816, 6)

In [30]:
avmov.drop_duplicates(['IDUSUARIO','IDFILME'], inplace = True)

In [31]:
avmov.shape

(562816, 6)

In [32]:
del avmov['IDFILME']

In [33]:
avmov.head(3)

,IDUSUARIO,AVALIACAO,TITULO,IDIOMA,AVALIACOES
0,2,3.0,Pirates of the Caribbean: Dead Man's Chest,en,5380.0
1,24,5.0,Pirates of the Caribbean: Dead Man's Chest,en,5380.0
2,47,4.0,Pirates of the Caribbean: Dead Man's Chest,en,5380.0

In [35]:
filmespivot = avmov.pivot_table(columns = 'IDUSUARIO', index = 'TITULO', values = 'AVALIACAO')
filmespivot.head(4)

IDUSUARIO,2,6,8,10,11,12,15,20,22,24,...,270885,270887,270889,270890,270891,270892,270893,270894,270895,270896
TITULO,,,,,,,,,,,,,,,,,,,,,
300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AVP: Alien vs. Predator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aladdin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alien,NaN,NaN,NaN,NaN,NaN,4.0,1.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
filmespivot.fillna(0, inplace = True)
filmespivot.head(20)

IDUSUARIO,2,6,8,10,11,12,15,20,22,24,...,270885,270887,270889,270890,270891,270892,270893,270894,270895,270896
TITULO,,,,,,,,,,,,,,,,,,,,,
300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AVP: Alien vs. Predator,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aladdin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Alien,0.0,0.0,0.0,0.0,0.0,4.0,1.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Alvin and the Chipmunks,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ant-Man,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Avengers: Age of Ultron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Back to the Future,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Back to the Future Part II,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,3.0,3.5,4.0,0.0,0.0,0.0
Back to the Future Part III,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
Bambi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Batman Begins,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Blade Runner,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bruce Almighty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Captain America: The First Avenger,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Cars,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
Cars 2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Constantine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dawn of the Planet of the Apes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Death Proof,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0

In [37]:
from scipy.sparse import csr_matrix
filmessparse = csr_matrix(filmespivot)

In [39]:
type(filmessparse)

scipy.sparse._csr.csr_matrix

In [40]:
from sklearn.neighbors import NearestNeighbors
modelo = NearestNeighbors(algorithm = 'brute')
modelo.fit(filmessparse)

NearestNeighbors(algorithm='brute')

Aplicando o modelo e fazendo as recomendaÃ§Ãµes

In [43]:
#FILME: 300
distances, sugestions = modelo.kneighbors(filmespivot.filter(items = ['300'], axis=0).values.reshape(1, -1))
for i in range(len(sugestions)):
    print(filmespivot.index[sugestions[i]])

Index(['300', 'Van Helsing', 'Alvin and the Chipmunks', 'The Matrix',
       'Ice Age'],
      dtype='object', name='TITULO')

In [44]:
#FILME: ALADDIN
distances, sugestions = modelo.kneighbors(filmespivot.filter(items = ['Aladdin'], axis=0).values.reshape(1, -1))
for i in range(len(sugestions)):
    print(filmespivot.index[sugestions[i]])

Index(['Aladdin', 'The Expendables 2', 'RED 2', 'Teenage Mutant Ninja Turtles',
       'Dawn of the Planet of the Apes'],
      dtype='object', name='TITULO')

In [46]:
#FILME: BACK TO THE FUTURE
distances, sugestions = modelo.kneighbors(filmespivot.filter(items = ['Back to the Future'], axis=0).values.reshape(1, -1))
for i in range(len(sugestions)):
    print(filmespivot.index[sugestions[i]])

Index(['Back to the Future', 'Harry Potter and the Order of the Phoenix',
       'Insidious: Chapter 2', 'Van Helsing', 'The Expendables 2'],
      dtype='object', name='TITULO')

In [47]:
#FILME: BATMAN BEGINS
distances, sugestions = modelo.kneighbors(filmespivot.filter(items = ['Batman Begins'], axis=0).values.reshape(1, -1))
for i in range(len(sugestions)):
    print(filmespivot.index[sugestions[i]])

Index(['Batman Begins', 'Men in Black', 'The Godfather: Part III',
       'Harry Potter and the Order of the Phoenix', 'Grown Ups 2'],
      dtype='object', name='TITULO')